$font-family: helvetica, arial, sans-serif;
$font-size-small: 1em;
$font-size-medium: 1.2em;
$font-size-large: 1.5em;
$txt-weight: normal;
$txt-color: #4c4a4a;
$txt-color2: #fff;
$font-style: italic; 
$fig-color: rgba(0,0,0,0.2);

$txt-color-active: #62edfd;
$txt-weight-active: bold;
$txt-color-hover: black;


