/* _________________________________________
CONTENT:	ProjectName, Stylesheet Purpose
AUTHOR:		Your Name
____________________________________________

TABLE OF CONTENTS:

1. html root
2. typograpy
3. content

========================================================== */

html, body {
	float: left;
	width: 100%;
	height: auto;
	font-size: 1em;
	font-family: helvetica, arial, sans-serif;
}

/* TYPOGRAPHY ============================================ */

a {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	opacity: 1;
}

a:hover {
	opacity: .5;
}

/* CONTENT ============================================ */

.page-wrap {
	position: relative;
	float: left;
	width: 100%;
}

header {
	float: left;
	width: 100%;
	background-color: #f4614c;
}

.container {
	position: relative;
	max-width: 1076px;
	margin: 0 auto;
	height: auto;
}

ul {
	float: left;
	width: 100%;
	text-align: center;
	background-color: #202020;
	
}

ul li {
	float: left;
	display: inline;
	list-style: none;
	padding: 10px;
	border-right: 1px white dashed;
}

ul li a img {
	position: absolute;
}
ul li a {
	float: left;
	width: 100%;
	padding: 4px 44px
	
}

ul li:last-child {
	border-right: 0;
}

ul li a:hover {
	background: #f4614b;
}

/* bigger */

/*@media only screen and (min-width: 1076px) {

	.section-wrap {
		float: left;
		height: auto;
		width: 100%;
	}

	ul {

		width: auto;
		margin: 0 auto;
	}

	ul li {
		width: 100%;
		border-right: 1px dashed #636363;
		margin-right: 25px;
	}
}
*/

